/* Limit the height of the multi-select value container */
.Select--multi .Select-value {
  white-space: nowrap;
}

.Select--multi .Select-value-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Select-control {
  max-height: 72px !important; /* ~2 rows */
  overflow-y: auto !important;
}

/* Remove scrollbar from outer wrapper */
.Select-control::-webkit-scrollbar {
  display: none;
}