/* Dash dropdown text truncation */
.VirtualizedSelectOption {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 250px !important;
}
.scrollable-tags {
    max-height: 64px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
